
/*Styling The H1*/
h1 {
    text-shadow: 2px 2px 4px Cyan, 4px 4px 25px black;
    color: White;
    text-decoration: underline;
}

/*Styling The Button in Index*/
button {
    background-color: black;
    color: red;
    border-radius: 20px;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

/*Set a Hover in Index Button and styling it*/
button:hover {
    background-color: black;
    color: goldenrod;
}

/*Styling The Button in Menu*/
.Menu Button {
    background-color: cyan;
    color: mediumpurple;
    border-radius: 20px;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

/*Set a Hover in Menu Button and styling it*/
.Menu Button:hover {
    background-color: rebeccapurple;
    color: gold;
}

/*Styling The Button in LeaderBoards*/
.Lead Button {
    background-color: saddlebrown;
    color: white;
    border-radius: 20px;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

/*Set a Hover in LeaderBoards Button and styling it*/
.Lead Button:hover {
    background-color: gold;
    color: saddlebrown;
}

div {
    margin: 10px;
}
div.infoMessage {
    background-color: lightblue;
}
div.errorMessage {
    background-color: lightcoral;
}
div.treasureHuntItem {
    padding: 10px;
    background-color: lightcyan;
    border: solid black 1px;
    border-radius: 10px;
}
div.treasureHuntItem:hover {
    background-color: lightblue;
    cursor: pointer;
}

div.button {
    padding: 20px;
    background-color: gray;
    border: solid black 1px;
}
div.button:hover {
    background-color: lightgray;
    cursor: pointer;
}

div.testMessage {
    background-color: yellow;
    border: 1px black dotted;
}

/*creates an animated loader*/
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*Styling All The Links*/
a {
    background-color: darkcyan;
    color: white;
    border-radius: 40%;
    text-decoration: none;
    font-size: 18px;
    transition-duration: 0.4s;
    cursor: pointer;
}

/*Set a Hover in Links and styling it*/
a:hover{
    background-color: black;
    color: gold;
}


/*Styling The headers 2*/
h2{
    text-shadow: 2px 2px 4px red, 4px 4px 25px red;
    color: black;
    text-decoration: underline;

}

/*Styling The Creators Class */
.Creators{
    text-align: left;
    color: #f3f3f3;
    text-shadow: 2px 2px 4px black, 4px 4px red;
    font-size: 20px;

}

/*Styling The Social Class*/
.Social{
    text-align: right;
}

/*Styling and Position of The Sm Class*/
.Sm {
    padding: 20px;
    width: 17px;
    border-radius: 40%;
}

/*Set a Hover in The Sm Class*/
.Sm:hover {
    opacity: 0.7;
}

/*Styling The Facebook Icon*/
.Sm-facebook {
    background: #3B5998;
    color: white;
}

/*Styling The Youtube Icon*/
.Sm-youtube {
    background: #bb0000;
    color: white;
}

/*Styling The Twitter Icon*/
.Sm-twitter {
    background: #55ACEE;
    color: white;
}


/*Make Responsive All Html Files For Mobile App With New Images*/
@media screen and (max-width: 900px){
    #index{
        width:auto;
        background-image: url('phone_img.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    #H1{
        font-size: 17px;
    }




    #app{
        width:auto;
        background-image: url('phone_img2.png');
        background-size: cover;
        background-repeat: no-repeat;


    }

    #Start{
        width:auto;
        background-image: url('phone_img3.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;


    }

    #Session{
        width:auto;
        background-image: url('phone_img4.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;


    }

    #LeaderBoards{
        width:auto;
        background-image: url('phone_img5.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;


    }

}

